@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");


/* PALETA DE CORES */
:root {
    --lilás: #CF96DF;
    --cinza-basico: #DDE1E6;
    --cinza-subtitulo: #21272A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container {
    width: 80%;
    margin: auto;
    display: flex;
    padding-right: 315px;
}

/* Definições do header */
.header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 1000;
    font-style: normal;

    color: var(--cinza-subtitulo);
    background-color: #fff;
    border-bottom: .0625rem solid #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
    z-index: 1000;

}

.navbar {
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: black;
}

.navbar li {
    position: relative;
}

.navbar li::after {
    content: '';
    position: absolute;
    bottom: -0.5625rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: .1875rem;
    background-color: #CF96DF;
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::after {
    width: 100%;
    /* Aumentando a largura no hover */
}

a {
    color: black;
    text-decoration: none;
    /* transition: color 0.3s;  */
    transition: transform 0.3s;
}

a:hover {
    color: black;
    transform: scale(1.1);

}

.header .container {
    justify-content: space-around;
}

.img-logo {
    width: 135px;
    height: 125px;
    transition: transform 0.3s ease;
    /* Transição suave de 0.3 segundos */
}

.img-logo:hover {
    transform: translateY(-10px);
    /* Levantar o card 10 pixels para cima quando hover */
}

.container-principal {
    position: relative; /* Tornar a posição relativa para que possamos posicionar elementos absolutamente dentro dela */
    background-color: #CF96DF;
    width: 100%;
    height: 663px;
    display: flex;
    justify-content: space-around;
    padding: 20px; /* Adicionando um espaço interno para as margens */
    box-sizing: border-box; /* Garantindo que o padding não afete a largura total */
    overflow: hidden; /* Impedindo que os elementos absolutamente posicionados saiam da div */
}

.img-logo-tela {
    position: absolute;
    top: 20px; /* Ajuste de margem do topo */
    left: 20px; /* Ajuste de margem da esquerda */
    width: 490px;
    height: 468px;
    top:20%;
    left: 8%;
}

.container-cadastro {
    position: absolute;
    top: 60%; /* Posicionando no meio verticalmente */
    right: 100px; /* Ajuste de margem da direita */
    transform: translateY(-50%); /* Ajustando para ficar centralizado verticalmente */
    background-color: #fff;
    width: 600px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--cinza-basico);
    flex-direction: column;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    color: #CF96DF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-top: 15px;
}

.container-inputs {
    width: 600px;
    height: 300px;
    flex-direction: column;
    padding-left: 25px;

}


input {
    width: 560px;
    height: 40px;
    border: 2px solid #CF96DF;
    box-shadow: 0px 0px 10px var(--cinza-basico);
}


.button-cadastro {
    font-family: "Noto Serif", serif;
    background-color: var(--lilás);
    color: #fff;
    padding: .9375rem 2rem;
    text-align: center;
    font-size: 1rem;
    margin: .625rem 1.375rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-cadastro:hover {
    background-color: var(--lilás);
    color: #fff;
    transform: scale(1.1);
}

.container-tem-conta {
    display: flex;
    padding-top: 15px;
}

h4 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}



p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.button-entre {
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #CF96DF;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    position: relative;
    padding-left: 5px;

}

.card-erro {
    background-color: #fff;
    position: relative;
    right: 335px;
    top:80%;
    width: 320px;
    height: 120px;
    border-radius: 30px;
    display: none;
  
}

.mensagem-erro {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}


.cadastroSucesso {

    position: absolute;
    background-color: #CF96DF;
    color: white;
    width: 31.25rem;
    height: 12.5rem;
    left: 35%;
    top: 1.25rem;
    border-radius: 2.8125rem;

    text-align: center;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cadastroSucesso p {

    font-size: 20pt;
    font-weight: 600;

}

.cadastroSucesso span {

    font-size: 14pt;
    font-weight: 500;

}

@keyframes cadastroComSucesso {

    0% {
        top: -100px;
        opacity: 0%;
    } 

    25% {
        top: 20px;
        opacity: 100%;
    }

    50% {
        top: 20px;
        opacity: 100%;
    }

    100% {
        top: -100px;
        opacity: 0%;
    }

}