@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");


/* PALETA DE CORES */
:root {
    --lilás: #CF96DF;
    --cinza-basico: #DDE1E6;
    --cinza-subtitulo: #21272A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 100px 100px repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    width: 100%;
}

.header-lateral {
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--lilás);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    height: 729px;

}


.img-logo {
    width: 135px;
    height: 125px;
    transition: transform 0.3s ease;
    /* Transição suave de 0.3 segundos */
}

.img-logo:hover {
    transform: translateY(-10px);
    /* Levantar o card 10 pixels para cima quando hover */
}

h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

button {
    font-family: "Noto Serif", serif;
    background-color: #fff;
    color: var(--lilás);
    padding: .9375rem 2rem;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: .625rem 1.375rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--lilás);
    color: #000;
    transform: scale(1.1);
    border: .125rem solid #000;
}

.button-sair{
 background-color: #000;
 color: #fff;
}

.button-sair:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}

.hello {
    font-size: 30px;
}

.kpi-pontuacao-media {
    grid-area: 1 / 2 / 3 / 6;
    background-color: var(--cinza-basico);
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
}



.tituloMedia {
    color: #CF96DF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}


.mediaPontos {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #000;
}

.graficos {
    grid-area: 4 / 2 / 6 / 6;
    margin-bottom: 30px;
    margin-left: 150px;
    position: relative;
    border: solid var(--cinza-basico);
    
}

