@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");


/* PALETA DE CORES */
:root {
    --lilás: #CF96DF;
    --cinza-basico: #DDE1E6;
    --cinza-subtitulo: #21272A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-right: 315px;
    
}
.header-lateral {
  background-color: var(--lilás);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  height: 729px;

}

.img-logo {
  width: 135px;
  height: 125px;
  transition: transform 0.3s ease;
  /* Transição suave de 0.3 segundos */
}

.img-logo:hover {
  transform: translateY(-10px);
  /* Levantar o card 10 pixels para cima quando hover */
}

h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

button {
  font-family: "Noto Serif", serif;
  background-color: #fff;
  color: var(--lilás);
  padding: .9375rem 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: .625rem 1.375rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--lilás);
  color: #000;
  transform: scale(1.1);
  border: .125rem solid #000;
}

.button-sair{
background-color: #000;
color: #fff;
}

.button-sair:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
}
/* 

.header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 1000;
    font-style: normal;
    color: var(--cinza-subtitulo);
    background-color: #fff;
    border-bottom: .0625rem solid #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
    z-index: 1000;

}

.navbar {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: black;
}

.navbar li {
    position: relative;
}

.navbar li::after {
    content: '';
    position: absolute;
    bottom: -0.5625rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: .1875rem;
    background-color: #CF96DF;
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::after {
    width: 100%;
    /* Aumentando a largura no hover 
}*/

a {
    color: black;
    text-decoration: none;
    /* transition: color 0.3s;  */
    transition: transform 0.3s;
}

a:hover {
    color: black;
    transform: scale(1.1);

}


.img-logo {
    width: 135px;
    height: 125px;
    transition: transform 0.3s ease;
    /* Transição suave de 0.3 segundos */
}

.img-logo:hover {
    transform: translateY(-10px);
    /* Levantar o card 10 pixels para cima quando hover */
} 




body {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }


  
  .container-quiz {
    background-color: #fff;
    width: 90%;
    max-width: 800px;
    height: 410px;
    margin-left: 200px;
  
    border: 2px solid #CF96DF;
 
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px #CF96DF;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    
  }
  
  .questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-family: "Montserrat", sans-serif;
  }
  
  .question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  
  .answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .answer:disabled {
    cursor: not-allowed;
  }
  
  .next-question {
    margin-top: 32px;
  }
  
  .button {
    background-color: var(--lilás);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 70px;
    padding: 0 32px;
    font-family: "Montserrat", sans-serif;
  
    transition: filter 0.1s;
  }
  
  .button:not(:disabled):hover {
    filter: brightness(0.8);
  }

  .next-question   {
    background-color: #000;

  }
  
  /* Finish game */
  .final-message {
    font-size: 25px;
    text-align: center;
  }
  
  .final-message span {
    display: block;
    margin-top: 8px;
  }
  
  /* General styles */
  .hide {
    display: none;
  }
  
