@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");


/* PALETA DE CORES */
:root {
    --lilás: #CF96DF;
    --cinza-basico: #DDE1E6;
    --cinza-subtitulo: #21272A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container {
    width: 80%;
    margin: auto;
    display: flex;
}

/* Definições do header */
.header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 1000;
    font-style: normal;

    color: var(--cinza-subtitulo);
    background-color: #fff;
    border-bottom: .0625rem solid #000;
    padding: .625rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 1000;

}

.navbar {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: black;
}

.navbar li {
    position: relative;
}

.navbar li::after {
    content: '';
    position: absolute;
    bottom: -0.5625rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: .1875rem;
    background-color: #CF96DF;
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::after {
    width: 100%;
    /* Aumentando a largura no hover */
}

a {
    color: black;
    text-decoration: none;
    /* transition: color 0.3s;  */
    transition: transform 0.3s;
}

a:hover {
    color: black;
    transform: scale(1.1);

}

.header .container {
    justify-content: space-between;
}

.img-logo {
    width: 135px;
    height: 125px;
    transition: transform 0.3s ease;
    /* Transição suave de 0.3 segundos */
}

.img-logo:hover {
    transform: translateY(-10px);
    /* Levantar o card 10 pixels para cima quando hover */
}


button.button-login {
    background-color: transparent;
    border: .125rem solid var(--lilás);
    color: var(--lilás);
}

button.button-login:hover {
    background-color: var(--lilás);
    color: #fff;
}

button {
    font-family: "Noto Serif", serif;
    background-color: var(--lilás);
    color: #fff;
    padding: .9375rem 2rem;
    text-align: center;
    font-size: 1rem;
    margin: .625rem 1.375rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--lilás);
    color: #fff;
    transform: scale(1.1);
}

.header-button {
    padding-top: 15px;
}

.home {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #CF96DF;

}

.container-frase-principal h1 {
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    justify-content: start;
    padding-left: 50px;
    color: #000;
    font-weight: bold;
    font-style: italic;
    font-size: 70px;
}

span {
    color: #fff;
}

.botao-home {

    background-color: #000;
    width: 264px;
    height: 62px;
    margin: auto;
    box-shadow: .25rem .3125rem .25rem rgba(0, 0, 0, 0.25);
}

.home-botao {
    padding-left: 150px;
    padding-top: 40px;
}

.botao-home:hover {
    background-color: #000;
    transition: background-color 0.3s;
    transform: translateY(-0.1875rem);

    box-shadow: 0rem .375rem .5rem rgba(3, 3, 3, 0.2);
    transition: 1ms;
}

.home-img {
    padding-left: 200px;
    padding-top: 30px;
    width: 500px;
    height: 500px;
    transition: transform 0.3s ease;
    /* Transição suave de 0.3 segundos */
}

.home-img:hover {
    transform: translateY(-10px);
    /* Levantar o card 10 pixels para cima quando hover */
}


.container-saiba-mais {
    width: 1526px;
    height: 500px;
    display: flex;
    border: 1px solid #000;
}

.titulo-saiba-mais {
    color: #CF96DF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 30px;
    padding-right: 400px;
}

.texto-saiba-mais {
    width: 1000px;
    height: 450px;
    padding-left: 50px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.slider-objetivos-ONU {
    margin: 0 auto;
    width: 400px;
    height: 410px;
    overflow: hidden;
    padding-top: 115px;
    padding-left: 100px;
}

.slides {
    width: 150%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    position: relative;
}


.slide img {
    width: 300px;
}

.img-obj-onu {
    width: 300px;
    height: 300px;
}

.manual-navigation {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}


.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -90%;
    margin-right: 25%;
}

#radio3:checked~.first {
    margin-left: -200%;
}


.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 300px;
    margin-top: 270px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

.slider-img-eu {
    margin: 0 auto;
    width: 500px;
    height: 510px;
    overflow: hidden;
    padding: 40px 0px 0 50px;
  
}

.slides-img-eu{
    height: 510px;
    display: flex;
}

.slides-img-eu input {
    display: none;
}

.slide1 {
    width: 100%;
    position: relative;
}


.slide1 img {
    width: 416px;
 
}

.img-perfil {
    width: 416px;
    height: 432px;
    border-radius: 30px;
} 

.img-perfil1 {
    width: 416px;
    height: 432px;
    border-radius: 30px;
    margin-left: 100px;
}


.cards {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding: 50px;

}

.card {
    width: 373px;
    height: 300px;
    background-color: #CF96DF;
    border-radius: 30px;
    text-align: center;
    padding-top: 60px;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--cinza-basico);
    /* Sombra para efeito visual */
    transition: transform 0.3s ease;
    /* Transição suave de 0.3 segundos */
}

.card:hover {
    transform: translateY(-10px);
    /* Levantar o card 10 pixels para cima quando hover */
}


.img-card {
    padding-top: -300px;
    width: 5.75rem;
    height: 5.75rem;
}

.img-card-lavagem {
    padding-top: -300px;
    width: 115px;
    height: 110px;
}

.titulo-card {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.container-sobre-mim {
    width: 1526px;
    height: 550px;
    display: flex;
    border: 1px solid #000;
}

.titulo-sobre-mim {
    color: #CF96DF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 30px;
}

.texto-sobre-mim {

    width: 750px;
    height: 355px;
    padding-left: 50px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
}



.container-fale-comigo {
    width: 1400px;
    height: 830px;
    text-align: center;
    margin: 50px;
}

.titulo-fale-comigo {
    color: #CF96DF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 30px;
    text-align: center;
}

h4 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}


p {
    padding-left: 15px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
}


footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: .0006rem solid #000;
}

.img-logo-footer  {
    width: 135px;
    height:125px;
}

.footer-escrito {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 500px;
}

.footer-navbar {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: black;
}

li {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    font-weight: 1000;
    font-style: normal;
}

.container-final {
    width: 1526px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border: #000;
}

.img-redes-sociais {
    width: 24px;
    height: 24px;
}

.container-img-redes-sociais {
    width: 167px;
    display: flex;
    justify-content: space-around;
}

.horizontal-line {
    border: none;
    border-top: 1px solid #000; 
    width: 90%; 
    margin-top: 10px;
    padding: 10px;
}

/* Barra de rolagem */

::-webkit-scrollbar {
    width: .625rem;
}


::-webkit-scrollbar-thumb {
    background-color: var(--cinza-basico);
    border-radius: .625rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #CF96DF;
}